
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato&family=Patrick+Hand&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Patrick Hand', cursive;
    }

.container{
    width: auto;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0 7%;
    text-align: left;
}

h1{
    color: white;
    background-color: tomato;
    text-align: center;
    padding: 0.3%;
    margin: 0;
}

input{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
}

#add{
    width: auto;
    padding: 10px 20px;
    font-weight: bold;
    margin-left: 5px;  
    border-radius: 10px;
    font-size: 15px; 
}

#ib{
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 3%;
    width: 100%;
    display: flex;
}

#todoContainer{
    width: 100%;
    text-align: left;
    font-size: 20px;
    margin: 4% 0;
}

li{
    width: 100%;
    border-radius: 20px;
    margin: 0 0;
    list-style: none;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: space-between;
}

/* li:hover{
    background-color: tomato;
    color: white;
} */

.list{
    width: 100%;
    list-style: none;
    margin: 1%;
    padding: 2%;
}

#del{
    width: 1%;
    cursor: pointer;
    background-color: transparent;
    color: rgb(160, 124, 124);
    border: none;
    padding: 0% 3%;
    font-size: 100%;
    }

#del:hover{
    color: red;
}

.footer {
    position: fixed;
    height: 5%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: tomato;
    color: white;
    text-align: center;
    padding: 0;
    }

.foot{
    padding: 0.3%;
    margin: 0;
}

.saymon{
    font-weight: 800;
    font-family: 'Satisfy', cursive;
    }

@media only screen and (min-width: 400px){

    li{
        width: 100%;
        padding: 8% 2%;
        border-radius: 20px;
        margin: 0 0;
        position: relative;
        text-decoration: none;
        list-style: none;
        background-color: rgb(233, 233, 233);
        word-break:break-all;
    }

    .list{
        width: 100%;
        list-style: none;
        margin: 3% 0;
        padding: 6%;
    }
    
    .foot{
        padding: 0;
        margin: 1%;
    }

    #todoContainer{
        width: 100%;
        text-align: left;
        font-size: 20px;
        margin: 10% 0;
    }
}